*{
    -webkit-transition: all 1s;
    transition: all 1s;
}
#contact{
    background-color: #212529;
    background-image: url("map-image.png");
    background-size: 100% 100%; 
    background-repeat:no-repeat ;
    padding:80px;
}
#contact h2{
    font-size:40px!important;
    color:white!important;
    font-weight:700!important;
}
.p{
    color:#6c757d;
    font-style:italic;
}
textarea{
    width:600px;
    height:240px;
    border-radius: 10px;
    padding-left:20px;
}
button{
    background-color: #fed136;
    color:white;
    margin-top:20px;
}
input{
    height:70px!important;
    border-radius: 10px;
}
::-webkit-input-placeholder{
    color:#b3b3b4!important;
    font-weight: 700;
}
:-ms-input-placeholder{
    color:#b3b3b4!important;
    font-weight: 700;
}
::placeholder{
    color:#b3b3b4!important;
    font-weight: 700;
}
i{
    color:white;
    background-color: #212529;
    border-radius: 50%;
}
i:hover{
    background-color: #fed136;
}
a{
    color:#fed136!important;
}
a:hover{
    text-decoration: underline!important;
}
#team
{
    overflow: hidden;
    background-color: #f8f9fa;
}

.title h2
{
    color: #212529;
    font-size: 38px;
  
}
#team p
{
    color: #6c757d;
}
#team img
{
    width: 65%;
}
#team .myicon
{
    color: white;
    font-size: 22px;
    
}
.myicon i
{
    background-color: #212529;
    
    border-radius: 100%;
    padding: 13px;
    cursor: pointer;
}

.myicon i:hover
{
    background-color: #fec503;
}
.mylogo img
{
    width: 100%;
    height: 58px;
    cursor: pointer;

}
.logoss
{
    background-color: white;
}
    
.image
{
    border: 7px solid #e9ecef;
}
.timeline
{
    position: relative;
}
.timeline::after
{
content: " ";
    position: absolute;
    top: 48px;
    left: 51.5%;
    width: 5px;
    height: 93%;
    z-index: -1;
    background-color: #e9ecef;
}